# Database
DATABASE_URL="file:./dev.db"

# Solana Configuration
NEXT_PUBLIC_SOLANA_NETWORK="devnet"
NEXT_PUBLIC_SOLANA_RPC_ENDPOINT="https://api.devnet.solana.com"

# Platform Wallet
PLATFORM_WALLET_ADDRESS=""

# Irys/Arweave Upload
IRYS_PRIVATE_KEY=""
